* {
  box-sizing: border-box;
}

:root {
  --primary-color: #1ebfc1;
  --secondary-color: #0d1111;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ======== Commons ======== */
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  padding: 21px 41px;
  min-width: 186px;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  border-radius: 14px;
  background: var(--primary-color);
  color: #fff;
}

.btn:hover {
  opacity: 0.9;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
}

a {
  text-decoration: none;
}

/* ======== Header ========= */
.header {
  background-color: #fff;
}

.header.fixed {
  position: sticky;
  top: -40px;
  z-index: 1;
}

.header .head-content {
  display: flex;
  align-items: center;
  padding: 52px 0 12px;
}

.header .nav {
  margin-left: 235px;
}

.header .nav-list {
  display: flex;
  gap: 39px;
}

.header .nav-list .link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #2f3a3b;
}

.header .nav-list .link:hover {
  text-shadow: 1px 0 0 var(--secondary-color);
}

.header .action {
  margin-left: auto;
}

.header .action .cta-btn {
  border: 1px solid transparent;
  padding: 12px 24px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #494949;
}

.header .action .cta-btn:hover {
  font-weight: 600;
  color: var(--primary-color);
  border-radius: 6px;
  border: 1px solid var(--primary-color);
}

/* ========= Hero ======== */
.hero {
  margin: 38px 0 79px;
}

.hero .hero-content {
  display: flex;
  align-items: center;
}

/* Info */
.hero .hero-content .info {
  width: 39%;
}

.hero .hero-content .desc-icon {
  font-size: 1.4rem;
  font-weight: 400;
  color: #767e7e;
}

.hero .hero-content .heading {
  margin-top: 18px;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.162;
  color: var(--secondary-color);
}

.hero .hero-content .desc {
  margin: 46px 0 52px;
  width: 374px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
  color: #9da6a5;
}

.hero .cta-group {
  display: flex;
  align-items: center;
}

.hero .cta-group .cta {
  margin-left: 50px;
  border: none;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: transparent;
}

.hero .cta-group .cta:hover {
  box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

/* Hero Image */
.hero .hero-img {
  position: relative;
  width: 61%;
}

.hero .hero-img .image {
  display: block;
  margin-left: auto;
  width: 576px;
  height: 631px;
  object-fit: cover;
}

.hero .ads-1 {
  position: absolute;
  top: 149px;
  right: 459px;
  display: flex;
  align-items: center;
  width: 157px;
  height: 75px;
  padding: 18px 25px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .ads-1 .book-icon {
  position: relative;
  margin-right: 16px;
}

.hero .ads-1 .line {
  position: absolute;
  display: block;
  left: 4px;
  right: 4px;
  top: 28px;
  bottom: -8px;
}

.hero .desc-ads {
  font-size: 1rem;
  font-weight: 500;
  color: var(--secondary-color);
}

.hero .ads-2 {
  position: absolute;
  top: 453px;
  right: 517px;
  padding: 16px 25px 23px;
  width: 124px;
  height: 132px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
  text-align: center;
}

.hero .ads-2 .chart,
.hero .ads-2 .line {
  margin-top: 16px;
}

.hero .ads-2 .chart img {
  display: block;
}

.hero .ads-2 .chart img:nth-child(2) {
  margin-top: 12px;
}

.hero .ads-2 .chart img:nth-child(3) {
  margin-top: 10px;
}

.hero .ads-3 {
  position: absolute;
  top: 500px;
  right: 45px;
  padding: 17px 35px;
  width: 207px;
  height: 90px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .ads-3 .avatar-group {
  margin-top: 8px;
  display: flex;
}

.hero .ads-3 .img-avatar {
  margin-left: -7px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.hero .ads-3 .img-avatar:first-child {
  margin-left: 0;
}

.hero .ads-3 .num {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 33px;
  background-color: var(--primary-color);
  color: #fff;
}

/* ========== Features ========== */
.features {
  margin-top: 65px;
  padding: 65px 0;
}

/* Features Top */
.features .faetures-top {
  width: 51%;
}

.features .title-desc {
  font-size: 1.2rem;
  font-weight: 700;
  color: #767e7e;
}

.features .faetures-top .heading {
  margin: 16px 0;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.33;
  color: var(--secondary-color);
}

.features .features-desc {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #767e7e;
}

/* Features Bottom */
.features .featues-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.featues-bottom .group-1 {
  width: 168px;
}

.featues-bottom .group-2 {
  width: 223px;
}

.featues-bottom .group-3 {
  width: 224px;
}

.featues-bottom .featues-group .head-info {
  margin-top: 26px;
  font-size: 2rem;
  font-weight: 600;
  color: #0d1111;
}

.featues-bottom .featues-group .desc {
  margin-top: 16px;
  color: #9da6a5;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.69;
}
